
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header.shrink {
  width: 90%;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.9;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1);
  top: 0.9375rem;
}

.header-container {
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  position: relative; /* 相対位置の基準 */
  height: 100%;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d60017;
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
}

/* 通常の人アイコン */
.mark {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1.75rem;
  color: #333;
  padding: 0.25rem;
  transition: all 0.3s ease;
  height: 100%;
}

/* スクロールしたときの人アイコンのサイズと位置 */
.header.shrink .mark .material-icons {
  position: absolute; 
  bottom: 0.625rem;
  right: 0;
  font-size: 3.125rem;
}

.mark .material-icons {
  position: relative;  
  transition: all 0.3s ease;
  font-size: 2.1875rem;
}

/* hover */
.mark:hover {
  color: #d60017;
}

/* メニュー：右下にピタッと */
.menu-list {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0.25rem;
  transition: margin-right 0.3s ease;
}

.menu-list li a {
  text-decoration: none;
  color: #333;
  font-weight: 1000;
  font-size: 0.75rem;
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
}

.menu-list li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.125rem;
  background-color: #d60017;
  transition: width 0.3s;
}

.menu-list li a:hover::after {
  width: 100%;
}

.header.shrink .menu-list {
  margin-right: 3.75rem; /* 人アイコンの幅＋余白分 */
}
