*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

.hero {
  position: relative;
  height: auto; 
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-top: 100px;
}

.image-wrapper{
  position: relative; 
  width: 90%;
  height: 350px;
  
}

.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.overlay-text {
  position: absolute;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0,0,0,0.7); 
  pointer-events: none; 
}